/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.idea/vcs.xml
.idea/commandlinetools/Laravel_05_03_24__19_46.xml
.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
.idea/linkfolio.iml
.idea/modules.xml
.idea/php.xml
.idea/phpunit.xml
.idea/codeception.xml
.idea/phpspec.xml
.idea/blade.xml
.idea/laravel-idea.xml
composer.lock
composer.json
composer.lock
package-lock.json
package-lock.json
.idea/material_theme_project_new.xml
